<br />
<div class="hero-fixed col-xs-10 col-xs-offset-1">
  <h1 class="text-center"><%= @course.title%></h1>
  <br />
  <%= image_tag @course.image, class: 'img-responsive center-block' %>

  <br />
  <br />
    
  <span class="text-center">
  <h4>
    <span class="label label-default">
      <%= number_to_currency @course.cost %>
    </span><br/><br/>
    <%= @course.description %>
  </h4>
  </span>
   
  <% if current_user && current_user == @course.user %>
    <br /><br />
    <%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-danger btn-large pull-left' %>
  <% end %>
  <br/>
  <br/>
  <br/>
</div>

<br class="clr" />
<br class="clr" />

<h2 class="text-center"><u>Course Structure</u></h2><br/>

<div class="col-xs-10 col-xs-offset-1 box">
  <% @course.sections.each do |section| %>
    <div class="section">
      <b><%= section.title%></b>
      <% section.lessons.each do |lesson| %>
        <div class="lesson">
          <%= link_to lesson_path(lesson) do %>
            <ul><%= lesson.title %>
            -
            <%= lesson.subtitle %></ul>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

</div>